<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章</title>
    <link rel="stylesheet" href="assets/css/list.css">
</head>
<body class="pace-done">
<div id="header" class="navbar-fixed-top">
    <div class="container">
        <div class="navbar">
            my blog
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid article_row_fluid">
        <div class="span8 contant article_detail_bg">
            <h1 id="J_title"></h1>
            <div id="J_body" class="article_body"></div>
        </div>
    </div>
</div>
<script src="//lib.baomitu.com/jquery/3.1.1/jquery.min.js"></script>
<script src="assets/js/article.js"></script>
</body>
</html>