<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发表页</title>
</head>
<body>
<div>
    <form method="post">
        <p>title: <input type="text" name="title"></p>
        <p>tags: <input type="text" name="tag"></p>
        <p>abstract: <input type="text" name="abstract"></p>
        <p>imageUrl: <input type="text" name="imageUrl"></p>
        <p>content: <textarea name="content" id="content" cols="30" rows="10"></textarea></p>
        <p><input id="form" type="button" value="确认"></p>
    </form>
</div>
<script src="//lib.baomitu.com/jquery/3.1.1/jquery.min.js"></script>
<script>
    $('#form').on('click',function () {
        var title = $('input[name="title"]').val();
        var tag = $('input[name="tag"]').val();
        var abstract = $('input[name="abstract"]').val();
        var imageUrl = $('input[name="imageUrl"]').val();
        var content = $('#content').val();
        $.ajax({
            url:'http://localhost:3000/post',
            data:{title:title,tag:tag,abstract:abstract,content:content,imageUrl:imageUrl},
            method:'post',
            dataType:'json',
            success:function (d) {
                if(d.code==200){
                    history.go(0);
                }
            }
        })
    });
</script>
</body>
</html>